body, .container {
  background-image: url("../images/p6.png") repeat;
  background-color: #f7f0f0;
  background-color: #f8eeee;
}

.navbar-inverse {
  background: rgba(0,0,0,0.01);
  border: none;
}
a.navbar-brand {
  position: relative;
  top: -0.5em;
  margin-right: 1em;
}
.navbar .nav > li > a {
  font-size: 1.3em;
}

/* menu color */
.navbar-inverse .navbar-nav > li > a {
  color: #6b9430; /* bright grass */
  color: #774e55; /* dark faded rose */
  color: #8e555f; /* sunlit dusty rose */
}
/* active menu */
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background: none;
    color: #38570c;  /* burnt grass */
}

/* hover menu */
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #4f731c; /* medium grass */
  color: #8e555f; /* sunlit dusty rose */
  color: #aa576c; /* plumeria */
  background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #4f731c; /* medium grass */
  color: #8e555f; /* sunlit dusty rose */
  color: #aa576c; /* plumeria */
  background-color: transparent;
  background-color: #f4e9eb;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #b62758;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #F0DEE4;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #90445e; /* vintage maroon */
  color: #e7c6d1; /* pale cotton pink */
}
/*
 *
 * "nouveau"
 * buttons for moods
 *
 */
#all-mood-buttons {
}
.nouveau {
  margin-bottom: 0.6em;
  margin-right: 0.5em;
  padding: 1.3em 1.7em;
  background-color: transparent;
  border: 1px dotted #915265;
  color: #915265;
  font-size: 1.4em;
  max-width: 79px;
}
.nouveau:nth-last-child(1), .nouveau:nth-last-child(2) {
  padding-left: 1.45em;
}
.nouveau:hover {
  background-color: #e6abbc; /* light rose red */
  background-color: #1f9ebe; /* deep sky blue crayon  */
  color: #c6f4ff; /* pale sky blue crayon */
}
.nouveau:active, .nouveau:focus, .nouveau-force-focus {
  color: #FA598B;
  color: #62dfff; /* cyan */
  background-color: #6d2a3f; /* deep plum */
  background-color: #005368; /*  deeper ocean blue  */
}
.row.mood-pusher-wrapper .form-group {
  border: 0px solid steelblue;
}

/*
 * FORM FOR MOODS
 *
 */
*:focus {
  outline: none;
  outline: 0;
}
.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control {
  height: 1.5em;
  font-family: courier, 'courier new', monospace;
  font-size: 1.2em;
    letter-spacing: -0.02em;
  color: #2d8ba3;
}
.form-group {
  margin-bottom: 0;
}
.form-horizontal .form-group {
  margin-left: 0;
}
.form-horizontal .control-label {
  margin-bottom: 0.7em;
}
.main-mood-panel input.form-control{
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #d1b2bd;
  border-bottom: 2px solid #4b1529;
  border-radius: 0;
  padding: 0;
  padding-left: 1em;
  padding-bottom: -30px;
  padding-top: 0.1em;
}
.main-mood-panel label {
  /* not registering ATM
  padding-left: 5px;
  padding-right: 5px;
  */
  margin-left: 1em;
  size: 0.8em;
  color: #a6687f;
  text-transform: uppercase;
  font-weight: normal;
}
.original-location {
  display: none;
  visibility: hidden;
}
@media (min-width: 768px) {
  .form-horizontal .control-label {
    padding-top: 0;
  }
}
@media only screen  and (min-width : 1024px) {
  .form-horizontal .control-label
  }
  .main-mood-panel label {
    padding-top: 0;
    color: #ffe8f1;
    padding: 0.1em;
    background-color: #4b1529; /* charred maroon soot */
    margin-top: 0px;

  }
}


.form-control::-moz-placeholder,
.form-control:-ms-input-placeholder,
.form-control::-webkit-input-placeholder {
  color: #d195a5;
  opacity: 1;
}
.form-control::-ms-expand {
  border: 0;
  background-color: transparent;
}

.form-control::-moz-placeholder {
  color: #d195a5;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #d195a5;
}
.form-control::-webkit-input-placeholder {
  color: #d195a5;
}

.label-lowlight {
  color: dimgray;
  font-weight: normal;
}
span.remaining-characters {
  margin-left: 1em;
  color: dimgray;
}




.mood-pusher-wrapper label {
  color: #8c8c8c;
}
.mood-pusher-wrapper {
  margin-top: 2em;
  border: 0px dotted thistle;
}

.mood-pusher-wrapper dt {
  margin: 1em 0;
}

.main-mood-panel button.btn-submit-mood {
  background-color: #9f2e58; /* raspberry rising */
  font-family: "roboto condensed";
    font-size: 1.5em;
    color: #f8eeee;
  width: 7em;
  border-radius: 0;
  border-bottom: 3px solid #841c42;
}
.main-mood-panel button.btn-submit-mood:hover {
  background-color: #bc295f; /* bright raspberry */
}
.main-mood-panel button.btn-submit-mood:focus {
  background-color: #2d0012; /* black deep plum */
  color: #b0ea00; /* lime green */
}

/*
 *
 * HEXA MOODS
 *
 * */
h1.mood-value {
  bottom: 31%;
  font-size: 6em;
}
.hex h1:after {
  border-bottom: 0;
}
.dusty-deep-rose {
  color: #886a6a;
}

.hex h1, .hex p {
}

/*
 *
 */
.optional-flags-wrapper {
  margin-top: 0.5em;
  background-color: #f0dce0;
  padding: 0.5em;
}

.optional-flags-wrapper a.btn.btn-primary {
  background-color: transparent;
  color: #69273b;
  line-height: 1em;
  border-bottom: 2px solid #9e163f;
}

span.invalid-input-hide {
  visibility: hidden;
    margin-left: 1em;
    color: cadetblue;
  opacity: 0;
  transition: visibility 0s 1s, opacity 0.1s linear;
}

span.invalid-input-show {
  visibility: visible;
    margin-left: 1em;
    color: cadetblue;
  -webkit-transition: opacity 0.5s linear;
    -moz-transition:  opacity 0.5s linear;
    -ms-transition:   opacity 0.5s linear;
    -o-transition:    opacity 0.5s linear;
     opacity: 1;
}

/* WHY DOES THIS NOT FREAKIN WORK!?  */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: thistle 5000s ease-in-out 0s;
}

/* ANIMATIONS */
.row.mood-pusher-wrapper {
  animation-delay: 0.5s;
}

.btn-submit-mood {
  animation-delay: 0.8s;
}
@-webkit-keyframes .btn-submit-mood.slideInLeft {
  from {
    -webkit-transform: translate3d(-180%, 0, 0);
    transform: translate3d(-180%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes .btn-submit-mood.slideInLeft {
  from {
    -webkit-transform: translate3d(-180%, 0, 0);
    transform: translate3d(-180%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


.login-with-social-media {
  position: absolute;
  top: 1em;
  right: 4em;
}
.login-with-social-media li {
  color: steelblue;
  display: inline-block;
  padding-right: 1em;
}
