.container {
  background-image: url("../images/p6.png") repeat;
  background-color: #f7f0f0;
}

.navbar-inverse {
  background: rgba(0,0,0,0.01);
  border: none;
}
a.navbar-brand {
  position: relative;
  top: -0.5em;
  border: 1px dotted gainsboro;
  margin-right: 1em;
}
.post-mood-wrapper label {
  color: #8c8c8c;
}
.navbar .nav > li > a {
  font-size: 1.3em;
}

/* menu color */
.navbar-inverse .navbar-nav > li > a {
  color: #6b9430; /* bright grass */
}
/* active menu */
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background: none;
    color: #38570c;  /* burnt grass */
}

/* hover menu */
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #4f731c; /* medium grass */
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #4f731c; /* medium grass */
  background-color: transparent;
}
.label-lowlight {
  color: silver;
  font-weight: normal;
}
/*
 * button for moods
 *
 */
*:focus {
  outline: none;
  outline: 0;
}
.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}


